/**CSS Variable **/
:root {
  --text-color: #333;
  --background-color: #f5f5f5;
  --font-size-medium: 18px;
  --main-font: Georgia;
  --accent-color: #00bfa5;
}

body {
  margin: 0;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}
main {
  flex: 1;
}

/**Fixed position for Header **/
header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/**Use CSS variable for color and font size - intro section **/
.intro {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 170px;
}

/**Arrange Flexbox section horizontally, space evenly and colors **/
.flexbox-section {
  text-align: center;
  width: 100%;
  margin: auto 0;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  box-sizing: border-box;
  width: 500px;
  height: auto;
  margin: 0 auto;
  justify-content: space-around;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.flex-item {
  border: solid grey 2px;
  border-radius: 20px;
  padding: 15px;
  background-color: #ffe082;
  color: black;
}

/**Grid Section**/
.grid-section {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 20px;
  background-color: rgb(235, 235, 235);
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.grid-container {
  display: grid;
  width: 500px;
  height: auto;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
}

.grid-item {
  background-color: #c5e1a5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: solid grey 2px;
}

/**Positioning Section **/
.positioning-section {
  text-align: center;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.relative-container {
  position: relative;
  padding: 40px;

  background-color: #ffd4d4;
  height: 100px;
}
.absolute-box {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #f0c040;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
}

/**Fixed position for Footer **/
footer {
  display: flex;
  flex-wrap: wrap;
  position: fixed absolute;
  justify-content: center;
  border-top: 2px solid var(--accent-color);
}
.footer {
  font-weight: 600;
}
